body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#form input {
  margin: 5px;
}

button {
  margin-left: 5px;
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: center;
}
